#product-img {
  width: 100%;
  height: 170px;
}
#product-cont {
  background-color: #f4f5f7;
  text-align: center;
  margin: 10px;
  width: 200px;
}

p {
  color: #898989;
  font-family: Poppins;
}
.ad-prod:hover {
  cursor: pointer;
  color: greenyellow;
}
.del-prod:hover {
  color: red;
  cursor: pointer;
}
.qun {
  font-size: 22px;
  margin-left: 10px;
}

@media screen and (max-width: 450px) {
  #product-cont {
    background-color: #f4f5f7;
    text-align: center;
    margin: 10px 0px;
    width: 45%;
  }
}
